<!-- MAIN PANEL -->
<div id="main" role="main">
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-bar-chart-o"></i>Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="well">
                    <h3>Pedidos <small>(resumo de atendimento - 01/07/2020 à 19/07/2020)</small></h3>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="well well-sm bg-color-blue txt-color-white text-center" style="margin-top: 20px; font-weight:bold">
                                <h5 style="font-weight: bold">Novos Pedidos</h5>
                                4
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="well well-sm bg-color-yellow txt-color-white text-center">
                                <h5>Em Atendimento</h5>
                                5
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="well well-sm bg-color-blueLight txt-color-white text-center">
                                <h5>Em transporte</h5>
                                8
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="well well-sm bg-color-red txt-color-white text-center">
                                <h5>Atrasados</h5>
                                2
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="well well-sm bg-color-grayDark txt-color-white text-center">
                                <h5>Cancelados</h5>
                                1
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="well well-sm bg-color-green txt-color-white text-center">
                                <h5>Concluídos</h5>
                                18
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th class="text-align-center">Whatsapp</th>
                                    <th class="text-align-center">Valor</th>
                                    <th class="text-align-center">Data</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lucio Rogerio SP</td>
                                    <td class="text-align-center">(11) 94000-5981</td>
                                    <td class="text-align-right">R$ 62,65</td>
                                    <td class="text-align-center">19/07/2020 16:28</td>                                    
                                    <td class="text-align-center"><a href="javascript:void(null)">ver itens</a></td>
                                    <td class="text-align-center"><a href="javascript:void(null)">iniciar atendimento</a></td>
                                </tr>
                                <tr>
                                    <td>Davi Raul Diego Gomes</td>
                                    <td class="text-align-center">(83) 93593-5293</td>
                                    <td class="text-align-right">R$ 148,22</td>
                                    <td class="text-align-center">18/07/2020 10:10</td>
                                    <td class="text-align-center"><a href="javascript:void(null)">ver itens</a></td>
                                    <td class="text-align-center"><a href="javascript:void(null)">iniciar atendimento</a></td>
                                </tr>
                                <tr>
                                    <td>Emanuel Yago Baptista</td>
                                    <td class="text-align-center">(11) 98408-6323</td>
                                    <td class="text-align-right">R$ 62,65</td>
                                    <td class="text-align-center">19/07/2020 16:28</td>
                                    <td class="text-align-center"><a href="javascript:void(null)">ver itens</a></td>
                                    <td class="text-align-center"><a href="javascript:void(null)">iniciar atendimento</a></td>
                                </tr>
                                <tr>
                                    <td>Leandro Noah Gustavo Lopes</td>
                                    <td class="text-align-center">(61) 99107-7672</td>
                                    <td class="text-align-right">R$ 457,29</td>
                                    <td class="text-align-center">19/07/2020 20:77</td>
                                    <td class="text-align-center"><a href="javascript:void(null)">ver itens</a></td>
                                    <td class="text-align-center"><a href="javascript:void(null)">iniciar atendimento</a></td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/plugin/flot/jquery.flot.cust.min.js"></script>
<script src="js/plugin/flot/jquery.flot.resize.min.js"></script>
<script src="js/plugin/flot/jquery.flot.fillbetween.min.js"></script>
<script src="js/plugin/flot/jquery.flot.orderBar.min.js"></script>
<script src="js/plugin/flot/jquery.flot.pie.min.js"></script>
<script src="js/plugin/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugin/flot/jquery.flot.axislabels.js"></script>

