@{
    Layout = null;
    String host = HttpContext.Current.Request.ServerVariables["HTTP_HOST"].ToString().ToLower();
    Tropical.Infrastructure.Model.User user = null;
    if (Tropical.Infrastructure.Util.SessionData.SessionReader("UsuarioLogado") != null)
    {
        user = (Tropical.Infrastructure.Model.User)Tropical.Infrastructure.Util.SessionData.SessionReader("UsuarioLogado");
    }
}
<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
<!-- HEADER -->
@if (user == null)
{
    <header id="header" class="hidden-xs"></header>
}
else
{
    <header id="header" class="hidden-lg">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="img/logo.png" alt=""> </span>
            <!-- END LOGO PLACEHOLDER -->            
        </div>        
        <!-- logout button -->
        <div class="pull-right">
            <div id="hide-menu" class="btn-header pull-right hidden-lg">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <div id="logout" class="btn-header transparent pull-right hidden-xs">
                <span> <a href="@Url.Action("Logout", "Home", new { Area = ""})" title="Sign Out" data-action="userLogout" data-logout-msg="Deseja sair do sistema ?"><i class="fa fa-sign-out"></i></a> </span>
            </div>
        </div>
        <!-- end logout button -->
    </header>
}
<!-- END HEADER -->
