/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.field-validation-error {
    color: red;
}

/* .modal-fullscreen */

.modal-fullscreen {
    background: transparent;
}

    .modal-fullscreen .modal-content {
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.modal-backdrop-fullscreen {
    background: #ffffff;
}

    .modal-backdrop-fullscreen.in {
        /*
  opacity: .97;
  filter: alpha(opacity=97);
        */
    }

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 800px) {
    legend {
        font-size: 1.60em;
        color: #57889c;
        font-weight: bold;
    }

    /*
    body {
        font-size: 1.75em;
    }

    .form-control {
        font-size: 1.10em;
    }

    h1 {
        font-size: 1.90em;
    }



    table thead tr {
        font-size: 22px !important;
    }

    table tbody tr {
        font-size: 22px !important;
    }

    .tab-content li {
        font-size: 1.75em !important;
    }

    .ui-dialog-title {
        font-size: 1.75em !important;
    }

    .form-group label.control-label {
        font-size: 1.20em !important;
    }

    .smart-form .label {
        font-size: 1.20em !important;
    }

    ul.pagination li {
        font-size: 1.75em !important;
    }

    #ListaMembro span {
        font-size: 1.20em;
    }

    caption {
        font-size: 22px !important;
    }

    .form-control {
        height: 40px !important;
        font-size: 1.20em !important;
    }

    .btn {
        line-height: 2.01857143 !important;
    }


    .input-group-btn button {
        height: 40px !important;
    }

    .input-group-btn a.btn {
        height: 40px !important;
    }
        */


    .input-group-btn a i.fa {
        vertical-align: -40% !important;
    }

    .panel-title {
        font-size: 22px !important;
        font-weight: bold !important;
        color: #666 !important;
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
        background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
        background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
        background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
        background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
        background-image: -linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    }
}

.quantity {
    width: 70px !important;
}

.price {
    width: 90px !important;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .btn {
        padding: 10px 16px !important;
        font-size: 20px !important;
        line-height: 1.33 !important;
        height: 46px !important;
    }

    label, .smart-form .label {
        font-size: 20px;
    }

    .quantity {
        width: 50px !important;
    }

    .price {
        width: 80px !important;
    }

    .form-control, .smart-form input, .smart-form .input input, .smart-form .input input:focus {
        height: 46px !important;
        font-size: 17px !important;
    }

    .smart-form .input:hover {
        font-size: 17px !important;
    }

    .note a {
        font-size: 20px !important;
    }

    .alert {
        font-size: 17px !important;
    }

    .close {
        font-size: 32px !important;
        font-weight: 400 !important;
    }

    .ui-dialog-titlebar-close:before {
        font-size: 30px !important;
        font-weight: 400 !important;
    }

    .progress {
        height: 32px !important;
    }
    

    .alert h4 {
        font-size: 20px !important;
    }

    .smart-form .icon-append {
        top: 11px;
        right: 10px;
        padding-left: 5px;
        border-left-width: 1px;
        border-left-style: solid;
    }

    table.table-bordered td:last-child, table.table-bordered th:last-child {
        border-right-width: 1px !important;
    }

    th {
        font-size: 20px !important;
    }

    td {
        font-size: 17px !important;
    }

    icon {
        font-size: 40px !important;
    }

    .smart-form i {
        font-size: 32px !important;
    }

    .form header, legend, .smart-form header {
        font-size: 22px !important;
        font-weight:bold;
    }

    table tfoot tr td {
        font-size: 20px !important;
    }

    .panel-title {
        font-size: 20px !important;
    }

    .dropdown-menu li {
        font-size: 20px !important;
    }
}

.text-cut {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

caption {
    font-weight: bold;
    padding: 8px 10px !important;
    text-align: left;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -linear-gradient(top,#f2f2f2 0,#fafafa 100%);
}

button[disabled] {
    cursor: not-allowed;
    color: #555;
}

.smart-form button[disabled],
.smart-form checkbox[disabled],
.smart-form input[disabled],
.smart-form radio[disabled],
.smart-form select[disabled],
.smart-form .textarea[disabled] {
    cursor: not-allowed;
    background-color: #eee !important;
    opacity: 1 !important;
    color: #999999 !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] {
    color: #999999 !important;
}

#pnlVendaWizart .bootstrapWizard li {
    width: 20% !important;
}

.fc-event-time {
    display: none !important;
}

.fc-event-skin {
    cursor: pointer !important;
}
