@model FrontEnd.Areas.Maintenance.Models.CategoryViewModel
<div role="content">

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->
    <!-- widget content -->
    <div class="widget-body no-padding">

        <!-- Error states for elements -->
        <form class="smart-form" id="frmCategory" onsubmit="$('#btnConfirmar').click(); return false;">
            @Html.HiddenFor(m => m.Id)
            <fieldset>
                <section>
                    <label class="label">
                        Nome <span class="font-xs text-danger">*</span>
                    </label>
                    <label class="input">
                        @Html.TextBoxFor(m => m.Name, new { style = "text-transform:uppercase;" })
                    </label>
                </section>                
            </fieldset>
        </form>
        <!--/ Error states for elements -->
    </div>
    <!-- end widget content -->
</div>
@Html.Raw(FrontEnd.Helpers.Notify.JsNotify(Model.ReturnAttribute, "frmCategory"))
@if (Model.Id == 0)
{
    <script>

    </script>
}
<script>
    $("#IdAutor").val('@Model.Id');
</script>
@if (Model.ReturnAttribute.Status == FrontEnd.Helpers.Constantes.StatusRetorno.Sucesso)
{
    <script>
        LoadList();
    </script>
}
<script>
    $("#btnConfirmar").removeAttr("disabled");
</script>